.ProgrammingLanguages {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin-top: 48px;
}

.ProgrammingLanguages__box {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.ProgrammingLanguages__input {
    width: 100%;
    cursor: pointer;
}

.ProgrammingLanguages__text {
    font-size: 24px;
}

.ProgrammingLanguages__percentage {
    text-align: right;
}

.ProgrammingLanguages__trashAndName {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ProgrammingLanguages__trash:hover {
    transform: rotate(180deg);
    transition: transform 1s linear;
    cursor: pointer;
}